    <!-- <div class="sidenav">
        <a href="#">Doctor About</a>
        <a href="#">Doctor Services</a>
        <a href="#">Doctor Clients</a>
        <a href="#">Doctor Contact</a>
      </div>
      
      <div class="main">
        <h2>This is Doctor Sidebar</h2>
        <p>This sidenav is always shown.</p>
      </div>
  <p *ngIf="userType=='patient'">
      <div class="sidenav">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
        
        <div class="main">
          <h2>This is Patient Sidebar</h2>
          <p>This sidenav is always shown.</p>
        </div>
  </p> 
  <p *ngIf="userType=='admin'"></p> 
<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <div class="main">
    <h2>This is Admin Sidebar</h2>
    <p>This sidenav is always shown.</p>
  </div>
</p> --> -->