<div class="jumbotron text-center">
  <h1>eHospital</h1>
  <p class="lead">Welcome to the Hospital Management System and Online Portal</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Hospital Managment</h3>
    <p>Describe it here</p>
  </div>
  <div class="col-md-4">
    <h3>Doctors' Portal</h3>
    <p>Describe it here</p>
  </div>
  <div class="col-md-4">
    <h3>Patients' Portal</h3>
    <p>Describe it here</p>
  </div>
</div>